/* *{
    padding: 0;
    margin: 0;

} */
body {
    margin: 0 auto;
    height: 100%;
    padding: 0;
    font-family: Avenir, "Helvetica Neue", sans-serif;
    color: #808284;
    font-weight: 400;
    overflow-x: hidden;
  }
  .j_banner {
    width: 100%;
    padding: 20px 0;
    background: #85e0ff;
    text-align: center;
  }
  .j_banner a {
    margin-top: 200px;
  
    text-decoration: none;
    color: #183962;
    text-align: center;
    background-color: none;
    background-color: #85e0ff;
    font-size: 15px;
    font-weight: 600;
  }
  .j_navbar {
    width: 100%;
    height: 110px;
    /* border: solid; */
    display: flex;
    justify-content: space-between;
  }
  .j_img {
    margin-left: 190px;
  }
  
  .j_img img {
    width: 63%;
    margin-top: 20px;
  }
  .j_login button {
    margin-top: 30px;
    margin-right: 220px;
    padding: 10px 40px;
    font-size: 20px;
    font-weight: 400;
    background-color: #ff9400;
    border: none;
    color: aliceblue;
    border-radius: 5px;
  }
  .j_firstcontaainer {
    background-image: url("https://assets.loseit.com/website/home/Wave.png"),
      linear-gradient(90deg, rgba(245, 128, 30, 1) 0, rgba(246, 146, 29, 1) 100%);
    /* background-image:  */
    background-repeat: no-repeat;
    background-position: top, bottom;
    background-size: 100% 450px;
    padding: 40px 20px;
    /* margin: 0 auto; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* max-width: 850px; */
    height: 550px;
  }
  .j_firstcontaainer img {
    height: 100%;
    margin-left: 18%;
  }
  .j_firstcontaainer h1 {
    font-size: 53px;
    font-weight: 900;
    color: #455555;
    margin-top: -8px;
  }
  .j_firstcontaainer p {
    font-size: 20px;
    color: #455555;
   margin-top: 15px;
   margin-bottom: 35px;
  }
  
  .j_firstcontaainer button {
    border-radius: 0.25rem;
    background-color: #183962;
    padding: 15px 30px;
    border: 0;
    cursor: pointer;
    margin-bottom: 40px;
  }
  .j_firstcontaainer button > a {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
  }
  .j_junior {
    margin-right: 15%;
  }
  .j_junior a {
    text-decoration: none;
  }
  .j_junior .fab {
    font-size: 25px;
    color: #9da5a5;
  
    margin-right: 10px;
  }
  .star {
    display: inline-block;
    position: relative;
    font-size: 20px;
    color: #fed206;
    margin: 0 auto;
    font-weight: 10;
  }
  .apple {
    margin-right: 25px;
  }
  .j_second {
    width: 100%;
    height: 400px;
    margin-top: 20px;
    text-align: center;
    /* border: 1px solid black; */
  }
  .j_main {
    width: 60%;
    height: 300px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px;
    gap: 20px;
    /* border: 1px solid black; */
  }
  
  .j_main img {
    width: 45%;
  }
  .j_second h2 {
    font-weight: 200;
    margin-top: 70px;
    color: #183962;
    font-size: 28px;
  }
  .j_main h3 {
    color: #ff9400;
    font-size: 21px;
    font-weight: 200;
  }
  .j_main p {
    color: #808284;
    font-size: 16px;
    margin-bottom: 50px;
  }
  